<% if (theme.carousel.img) { %>
<div class="carousel">
    <a href="<%= theme.carousel.url %>" target="_blank">
        <img src="<%- url_for(theme.carousel.img) %>" alt="">
    </a>
</div>
<% } %>
<%- partial('_partial/archive') %>
