<link href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.6.2/gitalk.min.css" rel="stylesheet">
<div class="widget">
    <h3 class="title">
        最新评论
    </h3>
    <div class="content recent_comments">
        <%
        const recentComments = getWPComments(site.data)
                .concat(getGithubComments(site.data))
                .slice(0, 10)
                .sort((comment1, comment2) => comment1.comment_date < comment2.comment_date);%>
        <%-
            partial('_partial/comments', {comments: recentComments, view: 'brief'});
        %>
    </div>
</div>
