<link href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.6.2/gitalk.min.css" rel="stylesheet">
<div class="widget">
    <h3 class="title">
        最新评论
    </h3>
    <div class="content recent_comments">
        <%
        const recentComments = getWPComments(site.data)
                .concat(getGithubComments(site.data))
                .sort((c1, c2) => (
                        moment(c2.comment_date_gmt).toDate().getTime()
                        - moment(c1.comment_date_gmt).toDate().getTime())
                ); %>
        <%-
        partial('_partial/comments', {comments: recentComments, view: 'brief'});
        %>
    </div>
</div>
