<footer class="main-footer">
    <%- partial('_partial/copyright') %>
    <%- partial('_vendor/baidu_sitemap') %>
    <a id="back-to-top" class="icon-btn hide">
        <i class="fa fa-chevron-up"></i>
    </a>
</footer>
